<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="tramola" type="serial_sim.sh" name="socat_node" output="screen"/>
    <include file="$(find tramola)/launch/dummy_mavros.launch" />
    <node pkg="tramola" type="cmd_vel_to_thrusters.py"
        name="cmd_vel_to_thrusters" output="screen">
    <param name="wheel_separation" value="1.2" />
    </node>
    <node pkg="tramola" type="scale_scan.py" name="laser_scan_scaler" output="screen">
    <param name="scale_factor" value="0.5"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="lidar_to_base"
        args="0.5 0 1.5 0 0 0 base_link lidar_link 100"/>

    <include file="$(find tramola)/launch/localization.launch" />
    <node pkg="tramola" type="control.py" name="control_node" output="screen">
      <param name="port" value="/tmp/port2" />
    </node>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="cmd_vel" to="/mavros/setpoint_velocity/cmd_vel_unstamped" />
      <rosparam file="$(find tramola)/config/move_base.yaml" command="load" />
    </node>
    <node pkg="tramola" type="detection.py" name="detection" output="screen"/>
    <include file="$(find tramola)/launch/monitor.launch" />
</launch>