<launch>
    <!-- LIDAR: 15 cm forward of base_link -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_base"
          args="0.15 0.0 1.50 0 0 0 base_link laser 100"/>

    <node pkg="tramola" type="lidar_filter.py" name="lidar_filter" output="screen">
      <param name="input_topic" value="/scan"/>
      <param name="output_topic" value="/scan_filtered"/>
      <param name="keep_ranges" value="[[-90, +90]]"/>
    </node>

    <include file="$(find tramola)/launch/localization.launch" />

    <node pkg="tramola" type="control.py" name="control_node" output="screen" >
      <param name="port" value="/dev/ttyACM0"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="cmd_vel" to="/mavros/setpoint_velocity/cmd_vel_unstamped" />
      <rosparam file="$(find tramola)/config/move_base.yaml" command="load" />
    </node>
    
</launch>