<launch>
    <!-- LIDAR: 15 cm forward of base_link -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_base"
          args="0.15 0.0 1.50 0 0 0 base_link lidar_link 100"/>

    <!-- GPS: 20 cm behind base_link -->
    <node pkg="tf" type="static_transform_publisher" name="gps_to_base"
          args="-0.20 0.0 1.50 0 0 0 base_link gps_link 100"/>

    <!-- IMU: co-located with base_link in x,y; adjust z if needed -->
    <node pkg="tf" type="static_transform_publisher" name="imu_to_base"
          args="0.00 0.0 1.50 0 0 0 base_link imu_link 100"/>

    <include file="$(find tramola)/launch/localization.launch" />

    <node pkg="tramola" type="control.py" name="control_node" output="screen" >
      <param name="port" value="/dev/ttyACM0"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="cmd_vel" to="/mavros/setpoint_velocity/cmd_vel_unstamped" />
      <rosparam file="$(find tramola)/config/move_base.yaml" command="load" />
    </node>
    
</launch>